@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
}

* {
   user-select: none;
}

.mobile-header {
   background: linear-gradient(90deg, #33595E, #6ABAC4, #33595E);
   background-size: 200% auto;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: gradientMove 10s ease-in-out infinite;
}

@keyframes gradientMove {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

.kotlin-header {
   background: #C757BB;
   background: linear-gradient(to right, #C757BB 0%, #F88909 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.swift-header {
   background: #F15034;
   background: linear-gradient(to right, #F15034 0%, #F9A941 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.dart-header {
   background: #33595E;
   background: linear-gradient(to right, #33595E 0%, #6ABAC4 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.ionic-header {
   background: #478AFF;
   background: linear-gradient(to right, #478AFF 0%, #67D4FF 79%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
 
.programming-languages-header {
   background: #2D639E;
   background: linear-gradient(to bottom, #2D639E 0%, #666666 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.libraries-frameworks-header {
   background: #03A3BF;
   background: linear-gradient(to bottom, #03A3BF 0%, #666666 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.css-libraries-header {
   background: #8C13FD;
   background: linear-gradient(to bottom, #8C13FD 0%, #666666 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.fade-sides::before,
.fade-sides::after {
   content: "";
   position: absolute;
   top: 0;
   width: 40px;
   height: 100%;
   z-index: 10;
   pointer-events: none;
}

.fade-sides::before {
   left: 0;
   background: linear-gradient(to right, #E9E8FF, rgba(255, 255, 255, 0));
}

.fade-sides::after {
   right: 0;
   background: linear-gradient(to left, #E9E8FF, rgba(255, 255, 255, 0));
}


@media (min-height: 800px) {
   .br-tall {
     display: inline;
   }
 }
 @media (max-height: 799px) {
   .br-tall {
     display: none;
   }
 }